.archive-container {
  width: max-content;
  height: 100vh;
  display: flex;
}

.section {
  width: max-content;
  height: 100vh;
}

.archive-container .title {
  text-transform: uppercase;
  font-family: "HK Grotesk Medium";
  font-size: 1.1rem;
  margin: 0.5rem 0;
  text-align: right;
}

.archive-prompt {
  display: none;
}

@media screen and (max-width: 768px) {
  .archive-page .page-header {
    display: none;
  }

  .archive-prompt {
    display: block;
    position: fixed;
    top: 11rem;
    right: 15%;
    color: #999;
    font-style: italic;
    font-size: 1rem;
  }

  .archive-container {
    width: 100vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 0 5% 4rem 5%;
  }

  .section {
    width: 100%;
    height: max-content;
    margin-bottom: 8rem;
  }

  .archive-container .title {
    font-family: "HK Grotesk Semibold";
    font-size: 1rem;
    margin: 0.5rem 0 0;
  }
}

@media screen and (max-width: 425px) {
  .archive-container .title {
    font-size: 0.95rem;
  }

  .archive-container .title {
    margin: 0.5rem 0 0;
    text-align: left;
  }
}
